.wrapper
  = render 'shared/side_bar'
  .chat
    .header
      .left-header
        .left-header__title
          = @group.name
        %ul.left-header__members
          = "Members: #{@members}"
      .right-header
        = link_to 'Edit', edit_group_path(current_user), class: 'right-header__button'

    .tweets
      = render @tweets

    .form
      = form_for [@group, @tweet] do |f|
        = f.text_field :content, class: 'form__tweet', placeholder: 'type a tweet'
        .form__mask
          = f.label :image, class: 'form__mask__image' do
            = fa_icon 'picture-o', class: 'icon'
            = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: 'form__submit'